.selectedPage {
    font-weight: 900;
    font-size: 20px;
}

.pageNumber {
    padding: 0 5px;
}

.countPage {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    width: auto;
    height: 30px;
}

.countPage span {
    margin: 5px;
    cursor: pointer;
}

button {
    cursor: pointer;
}