.descriptionBlock {
  padding: 20px;
  line-height: 0.5;
}
.descriptionBlock p {
  font-size: small;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

img.avatar {
  max-width: 175px;
  height: 100%;
  border-radius: 50%;
}

.photoWrapper {
  padding: 10px 0;
  display: grid;
  justify-items: center;
}

.photoWrapper input {
  margin: 10px 0;
  font-size: xx-small;
}
